body {
    font-family: 'Overpass',
        sans-serif;
    font-family: 'Ubuntu',
        sans-serif;
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
}

#container1 {
    background-image: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    min-height: 90vh;
    border-radius: 0 0 0 35px;
    -webkit-border-radius: 0 0 0 35px;
    -moz-border-radius: 0 0 0 35px;
    -ms-border-radius: 0 0 0 35px;
    -o-border-radius: 0 0 0 35px;
}

.header .row {

    color: rgb(255, 255, 255);
    font-weight: 700;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3.5rem 5rem;
}

@media screen and (max-width:425px) {
    .header .row {
        padding: 3.5rem 0;
    }
}


.row div {
    margin: 12px 15px;
    padding: 0 20px
}

#blogr {
    font-size: 40px;
    font-weight: 600;
    line-height: 0.5;
}

#sign {
    color: hsl(353, 100%, 62%);
    border-radius: 20px;
    padding: 14px 0;
    line-height: 0.5;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.815);
    border: 2px white solid;

}

#sign:hover {
    color: white;
    background-color: hsl(355, 100%, 74%);
}

#login {
    padding: 20px 10px;
    line-height: 0.5;
    text-align: center;
    color: white;
}

.landing .container-fluid {
    text-align: center;
    font-family: 'Overpass',
        sans-serif;

    color: white;
    margin-top: 5%;
}

.landing .container-fluid h1 {
    font-size: 55px;
    font-weight: 600;
    text-transform: initial;
}

.landing .container-fluid span {
    margin: 10px 10px;
    border: 2px white solid;
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
}

@media screen and (max-width:375px) {
    .landing .container-fluid span {

        font-size: 13px;
    }
}

@media screen and (max-width:320px) {
    .landing .container-fluid span {

        margin: 10px 0px;
        font-size: 11px;
        padding: 10px 13px;
    }
}

#empty {
    cursor: unset;
}

#b1 {
    color: hsl(353, 100%, 62%);
    left: 315px;
    background-color: rgba(255, 255, 255, 0.815);
}

#b1:hover {
    color: white;
    background-color: hsl(355, 100%, 74%);
}